
<mat-card >
  <h1>Mon compte </h1> <br/>
  <h3>Visualisez et gérez rapidement l´ensemble des fonctions de votre compte.</h3>

</mat-card>
      <div class="" id="banner">
        <div class="overlay2">
          <div class="container-fluid" id="deck">
            <h1>Complétez votre profil   <a routerLink="/profile"> ICI</a></h1>
            <h2>Nos suggestions d´offres d´emploi pour vous</h2>
          
            <div class="card-deck">
  
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src="./img/img6jpg.jpg" />
                  <h3 class="card-title">Franck Service</h3>
        
                </div>
                <div class="card-footer">
               

                  <mat-progress-spinner
                      class="example-margin" 
                      [color]="color"
                      [mode]="mode"
                      [value]="70">
                  </mat-progress-spinner>
                  <h4 class="example-h2">profil: 70%</h4>
                
                </div>
              </div>
  
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src="./img/img 4.jpg" />
                  <h3 class="card-title">General bank</h3>
                 
                </div>
                <div class="card-footer">
                  <mat-progress-spinner
                  class="example-margin" 
                  [color]="color"
                  [mode]="mode"
                  [value]="87">
              </mat-progress-spinner>
              <h4 class="example-h2">profil: 87%</h4>
            
                </div>
              </div>
  
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src="./img/img8.jpg" />
                  <h3 class="card-title">Source Services</h3>
                
                </div>
                <div class="card-footer">
                  <mat-progress-spinner
                  class="example-margin" 
                  [color]="color"
                  [mode]="mode"
                  [value]="80">
              </mat-progress-spinner>
              <h4 class="example-h2">profil: 80%</h4>
            
                </div>
              </div>
  
              
  
  
  
            </div>
          </div>
        </div>
  
      </div>
      