

<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Se connecter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com"  required [(ngModel)]="login.email"  name="email" id="email" [formControl]="email" required  >
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}
              Email <strong>required</strong>
            </mat-error>
           </mat-form-field>
        </div>
      
        <div class="col">
          <mat-form-field class="full-width">
            
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"  required  [(ngModel)]="login.password" name="password" id="password">
       
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">

              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

            </button>
          
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" routerLink="/compte">Connexion</button>
    </mat-card-actions>
  </mat-card>
</form>
